<footer class="site-footer">
  <div class="container">
    <div class="footer-col rss">
      <a class="animated" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
        <i class="fa fa-rss" aria-hidden="true"></i>
      </a>
    </div>
    <div class="footer-col social-media-list">
      {% if site.email %}
        <a class="animated" href="mailto:{{ site.email }}" target="_blank">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
      {% endif %}
      {% if site.github_username %}
        <a class="animated" href="https://github.com/{{ site.github_username }}" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a class="animated" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a class="animated" href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a class="animated" href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      {% endif %}
    </div>
  </div>
</footer>
