@import '../variables';

.paginator {
  text-align: right;

  a, a:hover, a:visited, a:focus {
    color: #fff;
  }

  .btn, .btn.focus, .btn:focus, .btn:hover {
    color: #fff;
  }

  .btn-light {
    background: #f573db;
  }

  .btn-dark {
    background: #EA07BF;
    opacity: 1;
  }
}
